VITE_FIREBASE_API_KEY=AIzaSyCt_dhTpJQ2UJfDZOCaNsw8pcI67YJ15d4
VITE_FIREBASE_AUTH_DOMAIN=crm-casa-3732b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=crm-casa-3732b
VITE_FIREBASE_STORAGE_BUCKET=crm-casa-3732b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=875685647400
VITE_FIREBASE_APP_ID=1:875685647400:web:89b2078d4327993353111d
VITE_FIREBASE_MEASUREMENT_ID=G-EWYG1BFRB8
